<% form_for :question, :url => { :controller => "test", :action => "update_question" } do |f| %>
  <p style="background-color: #EEE; font-weight: bold"> Enunciado:
  <%= f.text_field :title, :size => 60 %></p>
  <%= hidden_field_tag :question_id, @question.id %>

  <% @question.answers.each_with_index do |a,i| %>
    <p> Respuesta <%= i+1 %>:
    <%= text_field_tag "answer#{i+1}", a.title, :size => 58 %>
    <%= check_box_tag  "correct#{i+1}", '', a.correct? %>
    </p>
  <% end -%>
  <%= submit_tag "actualizar" %>
<% end %>