
<%= doctype_declaration  %>
<html>
  <head>
    <%= default_style_sheets %>
  </head>
  <body>
    <div class="container">
      <div id="header" class="span-24 last">
        <div class="span-4 ">
          <ul class="clean_list">
            <li><%= link_to "Empieza!", :controller => :test %></li>
            <li><strong style="text-align: right;"><%= link_to "Nueva pregunta", :controller => :test, :action => :new %></strong></li>
            <li class="quiet"> ariera@gmail.com</li>
          </ul>
        </div>
        <div class="span-14"><h1>Teoría de Redes</h1></div>
        <div class="span-6 last">
          <p>
          <%= render :partial => "search_form" %>
          </p>
        </div>
      </div>
      <div class="span-19">
        <%= yield %>
      </div>
      <div  id="last_events" class="span-4 last">
        <%= render :partial => "last_events" %>
      </div>
    </div>
  </body>
</html>
